:host {
  .resume-balance {
    display: flex;
    align-items: center;
    text-align: right;

    &__balance {
      flex: 1;
    }

    button {
      min-width: 32px;
      padding: 0px;
      margin: 0px 8px;
    }
  }
}
