:host {
  .games {

    &__card-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }


    agp-game-card {
      padding: 8px;
      cursor: pointer;
    }
  }
}
