:host {
  .dashboard {
    height: 100%;

    &__toolbar {
      display: flex;
      justify-content: flex-end;
    }

    &__content {
      overflow: auto;
      // todo :: improve this
      height: calc(100% - 56px);
    }
  }
}
